* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: rgb(50, 115, 124);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_top {
  display: flex;
  align-items: center;
  color: white;
  height: 50px;
  font-size: 12px;
}

.nav_top p {
  color: white;
  margin-left: 8px;
}

.logo_nav {
  width: 25px;
}

.logo_nav_end {
  width: 25px;
}

.nav_top_block {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav_top_block_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav_top_block:last-child {
  color: #ffffff;
  margin-left: 50px;
}

.nav_top_block_border {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
}

.ghost-button {
  display: flex;
  align-items: center;
  width: 0 auto;
  height: 12px;
  background-color: rgb(53, 168, 184);
  padding: 8px;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: rgb(50, 115, 124);
  color: #ffffff;
}